
		<div class="row" style="width: 90%; margin: 20px auto;">

<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">注文履歴一覧</h4>

			<table class="table">
				<tr>
					<td style ="text-align: center", class="col-xs-4">購入日時</td>
					<td style ="text-align: center", class="col-xs-4">購入者</td>
					<td style ="text-align: center", class="col-xs-4">注文個数</td>
				</tr>
				<% @orders.each do |order|%>
				<tr>
					<td style ="text-align: center">
						<%= link_to admin_order_path(order.id) do %>
						<%= order.created_at %>
						<% end %></td>
					<td ><%= order.customer.name %></td>
					<td style ="text-align: center"><%= order.order_details.sum(:amount) %></td>
				</tr>

				<% end %>
			</table>
		</div>